:root {
  --darkBlue: hsl(200, 15%, 8%);
  --darkBlueBackground: hsl(207, 26%, 17%);
  --lightBlue: hsl(209, 23%, 22%);
  --lightBlueBackground: hsl(0, 0%, 52%);
  --lightGray: hsl(0, 0%, 98%);
  --accentWhite: hsl(0, 0%, 100%);
  --bodyFont: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darkBlueBackground);
  color: var(--accentWhite);
  font-size: 14px;
  box-sizing: border-box;
}

/* only for testing */
.lightBlue {
  background: var(--lightBlue);
}

.darkBlueBackground {
  background: var(--lightBlueBackground);
}

.darkBlue {
  background: var(--darkBlue);
}

.darkBlueBackground {
  background: var(--darkBlueBackground);
}

.whiteText {
  color: var(--accentWhite);
}

.backButton {
  background: var(--lightBlue);
  padding: 5px 15px;
  margin: 10px 0;
  border: 1px 1px 1px var(--lighGray);
}

.link {
  color: var(--accentWhite);
  font-size: 1rem;
  text-decoration: none;
}

.backLink {
  margin-left: 4px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.fourth {
  width: 24%;
  flex: 0 1 calc(24% - 20px);
  margin-right: 10px;
  margin-bottom: 20px;
}

.flagImage {
  width: 100%;
}

.countryListWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countryInfo {
  display: flex;
  flex-direction: column;
  background: var(--lightBlue);
  padding: 0;
  border: none;
  text-decoration: none;
}

.countryTextContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--accentWhite);
}

.countryParagraph {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .fourth {
    width: 100%;
    flex: 0 1 100%;
  }
}
