:root {
  --darkBlue: hsl(200, 15%, 8%);
  --darkBlueBackground: hsl(207, 26%, 17%);
  --lightBlue: hsl(209, 23%, 22%);
  --lightBlueBackground: hsl(0, 0%, 52%);
  --lightGray: hsl(0, 0%, 98%);
  --accentWhite: hsl(0, 0%, 100%);
  --bodyFont: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darkBlueBackground);
  color: var(--accentWhite);
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body a {
  color: var(--accentWhite);
}

.newBody {
  color: var(--darkBlue);
  background: var(--lightGray);
}

.newBody a {
  color: var(--darkBlue);
}

/* only for testing */
.lightBlue {
  background: var(--lightBlue);
}

.darkBlueBackground {
  background: var(--lightBlueBackground);
}

.darkBlue {
  background: var(--darkBlue);
}

.darkBlueBackground {
  background: var(--darkBlueBackground);
}

.whiteText {
  color: var(--accentWhite);
}

.backButton {
  background: var(--lightBlue);
  padding: 5px 15px;
  margin: 10px 0;
  border: 1px 1px 1px var(--lighGray);
}

.backButtonAlt {
  background: var(--lightGray);
  padding: 5px 15px;
  margin: 10px 0;
}

.backButtonAlt a {
  color: var(--darkBlue);
}

.link {
  color: var(--accentWhite);
  font-size: 1rem;
  text-decoration: none;
}

.backLink {
  margin-left: 4px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.inputIconGroup {
  display: flex;
  width: 40%;
}

.fourth {
  width: 25%;
  flex: 0 1 calc(25% - 20px);
  margin-bottom: 20px;
}

.fourth:nth-child(4) {
  margin-right: 0;
}

.flagImage {
  width: 100%;
}

.countriesContainer {
  width: 90%;
  margin: 0 auto;
}

.countryListWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.countryInfo {
  display: flex;
  flex-direction: column;
  background: var(--lightBlue);
  color: var(--accentWhite);
  padding: 0;
  border: none;
  text-decoration: none;
}

.countryInfoAlt {
  background: var(--accentWhite);
  color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  text-decoration: none;
}

.countryTextContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.countryText {
  font-size: 0.8rem;
}

.countryInput {
  width: 100%;
  height: 25px;
}

.searchIcon {
  position: relative;
  color: var(--lightBlueBackground);
  left: -20px;
  background: transparent;
  border: none;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .fourth {
    width: 100%;
    flex: 0 1 100%;
  }

  .inputIconGroup {
    width: 100%;
  }

  .countryInput {
    margin: 10px 0;
  }
}
