.countryInfoContainer {
  width: 90%;
  margin: 0 auto;
}

.countryName {
  margin: 0;
  color: var(--accentWhite);
  font-size: 1.3rem;
}

.countryDisplayText {
  font-size: 1rem;
}

.countryDetailSpan {
  font-weight: 400;
}

.countryListing {
  display: flex;
}

.countryInfoLeft {
  flex: 1 0;
}

.countryInfoRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 10px;
}

.countryDisplayImage {
  width: 80%;
}

.countryInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.countryInfoWrapperLeft {
  flex: 1;
}

.countryInfoWrapperRight {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .countryListing {
    display: block;
  }

  .countryName {
    margin: 5px 0;
  }

  .countryDisplayImage {
    width: 100%;
  }

  .countryInfoLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .countryInfoRight {
    width: 100%;
  }
}
