.countryInfoContainer {
  width: 90%;
  margin: 0 auto;
}

.countryName {
  color: var(--accentWhite);
  font-size: 1.3rem;
}

.countryDisplayText {
  font-size: 1rem;
}

.countryDetailSpan {
  font-weight: 400;
}

.countryListing {
  display: flex;
}

.countryInfoLeft {
  flex: 1;
}

.countryInfoRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

.countryDisplayImage {
  width: 80%;
}

.countryInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.countryInfoWrapperLeft {
  flex: 1;
}

.countryInfoWrapperRight {
  flex: 1;
}
